* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

.App {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 60vh;
}

.container {
	box-shadow: 1px 1px 5px grey;
	width: 60vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1em;
}
.input-container {
	width: 100%;
	height: 8vh;
	display: flex;
}
.input-container > * {
	font-size: 5vh;
	border-radius: 5px;
}

.input-container > input {
	width: 80%;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
.input-container > button {
	width: 20%;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}
